* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #735c5c;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: lightgrey;
	line-height: 23px;
}
h4 {
	margin: 0;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 18px;
 	font-weight: 400;
 	overflow: hidden;
 	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
 }
 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }
body {
	background-color: darkgrey;
	background-image: url("/static/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}
.padding-top {
	padding-top: 30px;
}

.padding-none {
	padding: 0;
}
.description {
	font-size: 12px;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 20px;
	padding-bottom: 0px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
/*.divider.green {
	background-color: #9FB80A;
}*/
.banner.menu {
	height: 150px;
/*	background-image: url("/static/banner_background.jpg");
	background-repeat: no-repeat;
	background-size: contain;*/
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0);
}
.banner h1 {
	margin: 45px 0;
}
.list-group-item {
	background: rgba(54, 25, 25, .5);
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

/*Item cards*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}